celery==4.4.7
Django==2.2.6
django-celery-beat==2.2.0
django-celery-results==1.2.1
django-cors-headers==3.2.1
django-filter==2.0.0
django-mysql==3.8.1
djangorestframework==3.8.1
mysqlclient==1.4.4
python-dateutil==2.8.2
redis==3.5.3
requests==2.27.1
gunicorn==20.1.0
gevent==21.12.0