@font-face {
  font-family: "iconfont"; /* Project id 2338558 */
  src: url('iconfont.woff2?t=1622427656520') format('woff2'),
       url('iconfont.woff?t=1622427656520') format('woff'),
       url('iconfont.ttf?t=1622427656520') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mianxingtubiao-piliangzuoyeliudaoru:before {
  content: "\e6dc";
}

.icon-mianxingtubiao-piliangzuoyedaoru:before {
  content: "\e74b";
}

.icon-mianxingtubiao-xinjiandangezuoye:before {
  content: "\e74c";
}

.icon-mianxingtubiao-xinjiandangezuoyeliu:before {
  content: "\e74d";
}

.icon-yunpingtaijiankong:before {
  content: "\e62a";
}

.icon-xianxingtubiao-suoding:before {
  content: "\e629";
}

.icon-mianxingtubiao-daichuligongdan:before {
  content: "\e726";
}

.icon-mianxingtubiao-yingyongguanli:before {
  content: "\e749";
}

.icon-mianxingtubiao-fuwuyuezhuceshu:before {
  content: "\e6ed";
}

.icon-mianxingtubiao-zhihanglishi:before {
  content: "\e721";
}

.icon-mianxingtubiao-chengxubao:before {
  content: "\e727";
}

.icon-mianxingtubiao-huigunrenwumoban:before {
  content: "\e72f";
}

.icon-mianxingtubiao-ruanjianbaoguanli:before {
  content: "\e73c";
}

.icon-mianxingtubiao-gongdanyingshe:before {
  content: "\e73d";
}

.icon-mianxingtubiao-kuaisufabumoban:before {
  content: "\e73e";
}

.icon-mianxingtubiao-fenjianrenwu:before {
  content: "\e73f";
}

.icon-mianxingtubiao-mobanji:before {
  content: "\e740";
}

.icon-mianxingtubiao-kuaisufabu:before {
  content: "\e741";
}

.icon-mianxingtubiao-chengxubaoshu:before {
  content: "\e742";
}

.icon-mianxingtubiao-kuaisuhuigun:before {
  content: "\e743";
}

.icon-mianxingtubiao-peizhiwenjian:before {
  content: "\e744";
}

.icon-mianxingtubiao-peizhiwenjianshu:before {
  content: "\e745";
}

.icon-mianxingtubiao-yingyongshuliang:before {
  content: "\e746";
}

.icon-mianxingtubiao-renwuguanli:before {
  content: "\e747";
}

.icon-mianxingtubiao-yifabufuwushu:before {
  content: "\e748";
}

.icon-mianxingtubiao-SQLbao:before {
  content: "\e74a";
}

/* .icon-exclamation-circle-shape:before {
  content: "\e628";
} */

.icon-dashboard-shape:before {
  content: "\e627";
}

.icon-dashboard-2-shape:before {
  content: "\e626";
}

.icon-calendar-shape:before {
  content: "\e625";
}

.icon-zhiding:before {
  content: "\e624";
}

.icon-zhidi:before {
  content: "\e623";
}

.icon-window:before {
  content: "\e620";
}

.icon-tomcat:before {
  content: "\e61f";
}

.icon-mysql:before {
  content: "\e61e";
}

.icon-linux:before {
  content: "\e61d";
}

.icon-duobianxing:before {
  content: "\e61a";
}

.icon-zhiming:before {
  content: "\e619";
}

.icon-ziwang:before {
  content: "\e71c";
}

.icon-mianxingtubiao-cipanrongliang1:before {
  content: "\e705";
}

.icon-mianxingtubiao-fuwuzhongxin1:before {
  content: "\e706";
}

.icon-mianxingtubiao-yueshiyongfuwushu1:before {
  content: "\e709";
}

.icon-mianxingtubiao-fuwuguanli1:before {
  content: "\e739";
}

.icon-mianxingtubiao-SLAguanli1:before {
  content: "\e73a";
}

.icon-mianxingtubiao-pingtaiguanli1:before {
  content: "\e73b";
}

.icon-mianxingtubiao-cunchuguanli:before {
  content: "\e735";
}

.icon-mianxingtubiao-wangluoguanli:before {
  content: "\e736";
}

.icon-mianxingtubiao-zhujiguanli:before {
  content: "\e737";
}

.icon-mianxingtubiao-caozuorizhi1:before {
  content: "\e738";
}

.icon-mianxingtubiao-fuwumulu:before {
  content: "\e728";
}

.icon-mianxingtubiao-bumenguanli:before {
  content: "\e729";
}

.icon-mianxingtubiao-chengbenfenxi:before {
  content: "\e72a";
}

.icon-mianxingtubiao-ziyuanfenxi:before {
  content: "\e72b";
}

.icon-mianxingtubiao-xitongshezhi:before {
  content: "\e72c";
}

.icon-mianxingtubiao-yewuzhujiguanli:before {
  content: "\e72d";
}

.icon-mianxingtubiao-ziyuanzhongxin:before {
  content: "\e72e";
}

.icon-mianxingtubiao-yunyingzhongxin:before {
  content: "\e730";
}

.icon-mianxingtubiao-yunguanli:before {
  content: "\e731";
}

.icon-mianxingtubiao-fuwuzonglan:before {
  content: "\e732";
}

.icon-mianxingtubiao-zuhuguanli:before {
  content: "\e733";
}

.icon-mianxingtubiao-zuzhiguanli:before {
  content: "\e734";
}

.icon-mianxingtubiao-gongdanshu:before {
  content: "\e714";
}

.icon-mianxingtubiao-cunchu:before {
  content: "\e722";
}

.icon-mianxingtubiao-fangkuai:before {
  content: "\e723";
}

.icon-mianxingtubiao-cunchutong:before {
  content: "\e724";
}

.icon-mianxingtubiao-anquanzu:before {
  content: "\e725";
}

.icon-mianxingtubiao-gongdanguanli:before {
  content: "\e715";
}

.icon-mianxingtubiao-fuwuzongshu:before {
  content: "\e716";
}

.icon-mianxingtubiao-neicun:before {
  content: "\e717";
}

.icon-mianxingtubiao-jingxiang:before {
  content: "\e718";
}

.icon-mianxingtubiao-jiaoseguanli:before {
  content: "\e719";
}

.icon-mianxingtubiao-shujuku:before {
  content: "\e71a";
}

.icon-mianxingtubiao-yingpan:before {
  content: "\e71b";
}

.icon-mianxingtubiao-zhuji:before {
  content: "\e71d";
}

.icon-mianxingtubiao-kuaizhao:before {
  content: "\e71e";
}

.icon-mianxingtubiao-liebiao:before {
  content: "\e71f";
}

.icon-mianxingtubiao-zhihangjilu:before {
  content: "\e720";
}

.icon-mianxingtubiao-neicunzongliang:before {
  content: "\e70a";
}

.icon-mianxingtubiao-jisuanjiziyuandangyuexiaofei:before {
  content: "\e70b";
}

.icon-mianxingtubiao-cipandangyuexiaofei:before {
  content: "\e70c";
}

.icon-mianxingtubiao-zuhuziyuanchi:before {
  content: "\e70d";
}

.icon-mianxingtubiao-gaofengqishezhi:before {
  content: "\e70e";
}

.icon-mianxingtubiao-xiangmuguanli:before {
  content: "\e70f";
}

.icon-mianxingtubiao-rongliangfenxi:before {
  content: "\e710";
}

.icon-mianxingtubiao-xunijidangyuezongxiaofei:before {
  content: "\e711";
}

.icon-mianxingtubiao-CPUheshu:before {
  content: "\e712";
}

.icon-mianxingtubiao-VPC:before {
  content: "\e713";
}

.icon-mianxingtubiao-fuwuyunying:before {
  content: "\e704";
}

.icon-mianxingtubiao-liuchengguanli:before {
  content: "\e707";
}

.icon-mianxingtubiao-quanxianguanli:before {
  content: "\e708";
}

.icon-mianxingtubiao-yingyonggailan:before {
  content: "\e703";
}

.icon-xianxingtubiao-kaishi:before {
  content: "\e700";
}

.icon-xianxingtubiao-zanting:before {
  content: "\e701";
}

.icon-xianxingtubiao-tingzhi:before {
  content: "\e702";
}

.icon-xianxingtubiao-tiaoguo:before {
  content: "\e6fe";
}

.icon-xianxingtubiao-shangchuan:before {
  content: "\e6ff";
}

.icon-xianxingtubiao-wenjianjia:before {
  content: "\e6f6";
}

.icon-xianxingtubiao-daochu:before {
  content: "\e6ee";
}

.icon-xianxingtubiao-fenxiang:before {
  content: "\e6ef";
}

.icon-xianxingtubiao-shijianleixing:before {
  content: "\e6f0";
}

.icon-xianxingtubiao-bianjiyibiaoban:before {
  content: "\e6f1";
}

.icon-xianxingtubiao-dakaiwenjianjia:before {
  content: "\e6f2";
}

.icon-xianxingtubiao-guanlianshezhi:before {
  content: "\e6f3";
}

.icon-xianxingtubiao-shuzhileixing:before {
  content: "\e6f4";
}

.icon-xianxingtubiao-shuaxin2:before {
  content: "\e6f5";
}

.icon-xianxingtubiao-yulan:before {
  content: "\e6f7";
}

.icon-xianxingtubiao-shengchengbaobiao:before {
  content: "\e6f8";
}

.icon-xianxingtubiao-shezhiguolvtiaojian:before {
  content: "\e6f9";
}

.icon-xianxingtubiao-wenben:before {
  content: "\e6fa";
}

.icon-xianxingtubiao-xinjianziduan:before {
  content: "\e6fb";
}

.icon-xianxingtubiao-shujuji:before {
  content: "\e6fc";
}

.icon-xianxingtubiao-xuanzeshujuyuan:before {
  content: "\e6fd";
}

.icon-mianxingtubiao-wenti:before {
  content: "\e6eb";
}

.icon-mianxingtubiao-yingyongpeizhizhongxin:before {
  content: "\e6ec";
}

.icon-mianxingtubiao-quanjushuiyin:before {
  content: "\e6e1";
}

.icon-mianxingtubiao-wodeyingyong:before {
  content: "\e6e2";
}

.icon-mianxingtubiao-caozuorizhi:before {
  content: "\e6e3";
}

.icon-mianxingtubiao-yonghuguanli:before {
  content: "\e6e4";
}

.icon-mianxingtubiao-yanzhonggaojing:before {
  content: "\e6e5";
}

.icon-mianxingtubiao-yingyongrizhiguanli:before {
  content: "\e6e6";
}

.icon-mianxingtubiao-yingyongziyuangaojing:before {
  content: "\e6e7";
}

.icon-mianxingtubiao-yingyongxunjian:before {
  content: "\e6e8";
}

.icon-mianxingtubiao-yingyongqiting:before {
  content: "\e6e9";
}

.icon-mianxingtubiao-LOGOshezhi:before {
  content: "\e6ea";
}

.icon-xianxingtubiao-huifu1:before {
  content: "\e6de";
}

.icon-xianxingtubiao-duban:before {
  content: "\e6df";
}

.icon-xianxingtubiao-chufa:before {
  content: "\e6e0";
}

.icon-mianxingtubiao-renyuanxinxi:before {
  content: "\e6dd";
}

.icon-mianxingtubiao-shoucang-xuanzhong:before {
  content: "\e6da";
}

.icon-xianxingtubiao-shoucang:before {
  content: "\e6db";
}

.icon-mianxingtubiao-dangrizuoyeliushu:before {
  content: "\e6d4";
}

.icon-mianxingtubiao-dangrizuoyezongshu:before {
  content: "\e6d5";
}

.icon-mianxingtubiao-xitong:before {
  content: "\e6d6";
}

.icon-mianxingtubiao-jibenxinxi:before {
  content: "\e6d7";
}

.icon-mianxingtubiao-renwubianpai:before {
  content: "\e6d8";
}

.icon-mianxingtubiao-zuoye:before {
  content: "\e6d9";
}

.icon-mianxingtubiao-shijian1:before {
  content: "\e6d3";
}

.icon-mianxingtubiao-gaojingzhongxin:before {
  content: "\e6c0";
}

.icon-mianxingtubiao-jin24xiaoshiwentiduixiang:before {
  content: "\e6c1";
}

.icon-mianxingtubiao-zuoyelishi:before {
  content: "\e6c2";
}

.icon-mianxingtubiao-jiqun:before {
  content: "\e6c3";
}

.icon-mianxingtubiao-jiankongduixiangshuliang:before {
  content: "\e6c4";
}

.icon-mianxingtubiao-shouye:before {
  content: "\e6c5";
}

.icon-mianxingtubiao-shijianzhongxin:before {
  content: "\e6c6";
}

.icon-mianxingtubiao-yewu:before {
  content: "\e6c7";
}

.icon-mianxingtubiao-yingyongjiankangshitu:before {
  content: "\e6c8";
}

.icon-mianxingtubiao-yingyongqiang:before {
  content: "\e6c9";
}

.icon-mianxingtubiao-zuoyejiankongdaping:before {
  content: "\e6ca";
}

.icon-mianxingtubiao-yingyongjiankongguanli:before {
  content: "\e6cb";
}

.icon-mianxingtubiao-zuoyeliuguanli:before {
  content: "\e6cc";
}

.icon-mianxingtubiao-zuoyeguanli:before {
  content: "\e6cd";
}

.icon-mianxingtubiao-zuoyejiankong:before {
  content: "\e6ce";
}

.icon-mianxingtubiao-zixitong:before {
  content: "\e6cf";
}

.icon-mianxingtubiao-Agentguanli:before {
  content: "\e6d0";
}

.icon-mianxingtubiao-shishijiankangpingfen:before {
  content: "\e6d1";
}

.icon-mianxingtubiao-mokuai:before {
  content: "\e6d2";
}

.icon-changyongtubiao-biaogepaixu:before {
  content: "\e6b6";
}

.icon-changyongtubiao-jiahao:before {
  content: "\e6bc";
}

.icon-changyongtubiao-jiantou:before {
  content: "\e6bd";
}

.icon-changyongtubiao-fanhui:before {
  content: "\e6be";
}

.icon-changyongtubiao-shuangjiantou:before {
  content: "\e6bf";
}

.icon-changyongtubiao-bitianxinghao:before {
  content: "\e6b7";
}

.icon-changyongtubiao-duihao:before {
  content: "\e6b8";
}

.icon-changyongtubiao-chahao:before {
  content: "\e6b9";
}

.icon-changyongtubiao-jianhao:before {
  content: "\e6ba";
}

.icon-changyongtubiao-bianji:before {
  content: "\e6bb";
}

.icon-mianxingtubiao-shijian:before {
  content: "\e6af";
}

.icon-mianxingtubiao-shezhi:before {
  content: "\e6b0";
}

.icon-mianxingtubiao-sousuo:before {
  content: "\e6b1";
}

.icon-mianxingtubiao-yonghu:before {
  content: "\e6b2";
}

.icon-mianxingtubiao-zhongzhi:before {
  content: "\e6b3";
}

.icon-mianxingtubiao-tongzhi:before {
  content: "\e6b4";
}

.icon-mianxingtubiao-tishi:before {
  content: "\e6b5";
}

.icon-mianxingtubiao-dui:before {
  content: "\e6a3";
}

.icon-mianxingtubiao-jiahaoyuan:before {
  content: "\e6a4";
}

.icon-mianxingtubiao-cuo:before {
  content: "\e6a5";
}

.icon-mianxingtubiao-bohui:before {
  content: "\e6a6";
}

.icon-mianxingtubiao-bangzhu:before {
  content: "\e6a7";
}

.icon-mianxingtubiao-jia:before {
  content: "\e6a8";
}

.icon-mianxingtubiao-riqi:before {
  content: "\e6a9";
}

.icon-mianxingtubiao-jian:before {
  content: "\e6aa";
}

.icon-mianxingtubiao-shaixuan:before {
  content: "\e6ab";
}

.icon-mianxingtubiao-jianhaoyuan:before {
  content: "\e6ac";
}

.icon-mianxingtubiao-jiazai:before {
  content: "\e6ad";
}

.icon-mianxingtubiao-quanping:before {
  content: "\e6ae";
}

.icon-xianxingtubiao-chedan:before {
  content: "\e69c";
}

.icon-xianxingtubiao-dayin:before {
  content: "\e69d";
}

.icon-xianxingtubiao-jiahaoyuan:before {
  content: "\e69e";
}

.icon-xianxingtubiao-fujian:before {
  content: "\e69f";
}

.icon-xianxingtubiao-guaqi:before {
  content: "\e6a0";
}

.icon-xianxingtubiao-xiazai:before {
  content: "\e6a1";
}

.icon-xianxingtubiao-jianhaoyuan:before {
  content: "\e6a2";
}

.icon-xianxingtubiao-baocun:before {
  content: "\e695";
}

.icon-xianxingtubiao-bukejian:before {
  content: "\e696";
}

.icon-xianxingtubiao-quanping1:before {
  content: "\e697";
}

.icon-xianxingtubiao-huifu:before {
  content: "\e698";
}

.icon-xianxingtubiao-huanyuan:before {
  content: "\e699";
}

.icon-xianxingtubiao-kejian:before {
  content: "\e69a";
}

.icon-xianxingtubiao-yijianbianpai:before {
  content: "\e69b";
}

.icon-xianxingtubiao-fuwei:before {
  content: "\e68d";
}

.icon-xianxingtubiao-jian:before {
  content: "\e68e";
}

.icon-xianxingtubiao-jia:before {
  content: "\e68f";
}

.icon-xianxingtubiao-bohui:before {
  content: "\e690";
}

.icon-xianxingtubiao-tishi1:before {
  content: "\e692";
}

.icon-xianxingtubiao-zhongzhi:before {
  content: "\e693";
}

.icon-xianxingtubiao-dianzan:before {
  content: "\e694";
}

.icon-xianxingtubiao-zujianjiagou:before {
  content: "\e687";
}

.icon-xianxingtubiao-riqi:before {
  content: "\e686";
}

.icon-xianxingtubiao-shijian1:before {
  content: "\e688";
}

.icon-xianxingtubiao-dui:before {
  content: "\e689";
}

.icon-xianxingtubiao-cuo:before {
  content: "\e68a";
}

.icon-xianxingtubiao-wenjian:before {
  content: "\e68b";
}

.icon-xianxingtubiao-sousuo:before {
  content: "\e68c";
}

.icon-xianxingtubiao-lishijilu:before {
  content: "\e685";
}

.icon-xianxingtubiao-bangzhu:before {
  content: "\e684";
}

.icon-xianxingtubiao-fuzhi:before {
  content: "\e683";
}

.icon-xianxingtubiao-guanbigongdan:before {
  content: "\e67e";
}

.icon-xianxingtubiao-tishi:before {
  content: "\e67f";
}

.icon-xianxingtubiao-tongzhi:before {
  content: "\e680";
}

.icon-xianxingtubiao-shezhi:before {
  content: "\e681";
}

.icon-xianxingtubiao-yonghu:before {
  content: "\e682";
}

.icon-xianxingtubiao-lashen:before {
  content: "\e67c";
}

.icon-xianxingtubiao-shanchu:before {
  content: "\e67d";
}

.icon-xianxingtubiao-zhankai:before {
  content: "\e67a";
}

.icon-xianxingtubiao-shouqi:before {
  content: "\e67b";
}

.icon-xianxingtubiao-tiaozhuan1:before {
  content: "\e677";
}

.icon-xianxingtubiao-tuodong:before {
  content: "\e678";
}

.icon-xianxingtubiao-shijian:before {
  content: "\e679";
}

.icon-xianxingtubiao-quanping:before {
  content: "\e670";
}

.icon-xianxingtubiao-gengduo1:before {
  content: "\e671";
}

.icon-xianxingtubiao-ketuodong1:before {
  content: "\e672";
}

.icon-xianxingtubiao-miaozhun:before {
  content: "\e673";
}

.icon-xianxingtubiao-paixu:before {
  content: "\e674";
}

.icon-xianxingtubiao-piliangbianji:before {
  content: "\e675";
}

.icon-xianxingtubiao-shezhi2:before {
  content: "\e676";
}
