// 公共样式
// 外边距
.margin-0 {
    margin: 0 !important;
}

.margin-10 {
    margin: 10px;
}
.margin-8 {
    margin: 8px;
}

.margin-20 {
    margin: 20px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-right10 {
    margin-right: 10px;
}

// 内边距
.padding-0 {
    padding: 0 !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}
.padding-16 {
    padding: 16px !important;
}
.padding-top10 {
    padding-top: 10px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-right10 {
    padding-right: 10px;
}

// 小手
.pointer {
    cursor: pointer;
}

// 浮动
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// 文本
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

//字体
.font-bold {
    font-weight: bold;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 18px !important;
}

//display
.dis-inline {
    display: inline-block;
}
