.fullYearPicker, .fullYearPicker table {
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.fullYearPicker div.year {
    text-align: center
}

.fullYearPicker div.year a {
    margin-right: 30px
}

.fullYearPicker div.year a.next {
    margin-right: 0;
    margin-left: 30px
}

.fullYearPicker table {
    border: 1px solid #3a84ff;
    margin-top: 5px;
    float: left;
    margin-right: 10px
}

.fullYearPicker table.right {
    margin-right: 0
}

.fullYearPicker table th.head {
    text-align: center;
    line-height: 13px;
    cursor: default;
    background: #fff
}

.fullYearPicker table td {
    background: #fff;
    text-align: center;
    line-height: 13px;
    cursor: pointer
}

.fullYearPicker table th {
    color: #63656e
}

.fullYearPicker table td.weekend, .fullYearPicker table th.weekend {
}

.fullYearPicker table td.disabled {
    color: #2b2929;
    cursor: not-allowed
}

.fullYearPicker table td.selected {
    background: #3a84ff;
    color: #fff
}

.fullYearPicker table td.empty {
    cursor: default
}

.fullYearPicker br {
    clear: both
}

.year {
    display: none
}

.arrow_box {
    animation: glow 800ms ease-out infinite alternate
}

@keyframes glow {
    0% {
        border-color: red;
        box-shadow: 0 0 5px red, inset 0 0 5px red, 0 1px red
    }
    100% {
        border-color: red;
        box-shadow: 0 0 20px red, inset 0 0 10px red, 0 1px 0 red
    }
}
