<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>django-vue</title>
		<link href="/static/dist/css/app.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/dist/img/jobFlow_16_dark.png" type="image/x-icon" />
	</head>
	<body>
		<script>
			if ('{{ RUN_MODE }}' === 'DEVELOP') {
				window.siteUrl = window.location.origin
			} else {
				window.siteUrl = '{{ BK_PLAT_HOST }}{{ SITE_URL }}'
			}
			window.APP_CODE = '{{ APP_CODE }}';
			window.CSRF_COOKIE_NAME = '{{ CSRF_COOKIE_NAME }}';
		</script>
		<div id="app"></div>
		<script type="text/javascript" src="/static/dist/js/manifest.js"></script>
		<script type="text/javascript" src="/static/dist/js/vendor.js"></script>
		<script type="text/javascript" src="/static/dist/js/app.js"></script>
	</body>
</html>
